.list {
    color: #ffff;
    width: 300px;
    background-color: rgb(66, 66, 70);
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}

.list p {
    padding: 10px;
    position: relative;

}

.list p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.fa-trash {
    margin: 0 5px;
    font-size: 15px;
}

.list p input {
    background-color: transparent;
    border: 0;
    color: #ffff;
    font-size: 18px;
}

.list p input:focus {
    outline: none;
}